//fonts
@font-face {
    font-family: 'TitilliumWebBold';
    src: url('../fonts/TitilliumWeb/TitilliumWebBold.eot');
    src: url('../fonts/TitilliumWeb/TitilliumWebBold.eot?') format('eot'),
         url('../fonts/TitilliumWeb/TitilliumWebBold.woff2') format('woff2'),
         url('../fonts/TitilliumWeb/TitilliumWebBold.woff') format('woff'),
         url('../fonts/TitilliumWeb/TitilliumWebBold.ttf') format('truetype'),
         url('../fonts/TitilliumWeb/TitilliumWebBold.svg#TitilliumWebBold') format('svg');
}

@font-face {
    font-family: 'TitilliumWebRegular';
    src: url('../fonts/TitilliumWeb/TitilliumWebRegular.eot');
    src: url('../fonts/TitilliumWeb/TitilliumWebRegular.eot?') format('eot'),
         url('../fonts/TitilliumWeb/TitilliumWebRegular.woff2') format('woff2'),
         url('../fonts/TitilliumWeb/TitilliumWebRegular.woff') format('woff'),
         url('../fonts/TitilliumWeb/TitilliumWebRegular.ttf') format('truetype'),
         url('../fonts/TitilliumWeb/TitilliumWebRegular.svg#TitilliumWebRegular') format('svg');
}

@font-face {
    font-family: 'TitilliumWebSemibold';
    src: url('../fonts/TitilliumWeb/TitilliumWebSemibold.eot');
    src: url('../fonts/TitilliumWeb/TitilliumWebSemibold.eot?') format('eot'),
         url('../fonts/TitilliumWeb/TitilliumWebSemibold.woff2') format('woff2'),
         url('../fonts/TitilliumWeb/TitilliumWebSemibold.woff') format('woff'),
         url('../fonts/TitilliumWeb/TitilliumWebSemibold.ttf') format('truetype'),
         url('../fonts/TitilliumWeb/TitilliumWebSemibold.svg#TitilliumWebSemibold') format('svg');
}

@font-face {
    font-family: 'TitilliumWebLight';
    src: url('../fonts/TitilliumWeb/TitilliumWebLight.eot');
    src: url('../fonts/TitilliumWeb/TitilliumWebLight.eot?') format('eot'),
         url('../fonts/TitilliumWeb/TitilliumWebLight.woff2') format('woff2'),
         url('../fonts/TitilliumWeb/TitilliumWebLight.woff') format('woff'),
         url('../fonts/TitilliumWeb/TitilliumWebLight.ttf') format('truetype'),
         url('../fonts/TitilliumWeb/TitilliumWebLight.svg#TitilliumWebLight') format('svg');
}

@font-face {
    font-family: 'TitilliumWebItalic';
    src: url('../fonts/TitilliumWeb/TitilliumWebItalic.eot');
    src: url('../fonts/TitilliumWeb/TitilliumWebItalic.eot?') format('eot'),
         url('../fonts/TitilliumWeb/TitilliumWebItalic.woff2') format('woff2'),
         url('../fonts/TitilliumWeb/TitilliumWebItalic.woff') format('woff'),
         url('../fonts/TitilliumWeb/TitilliumWebItalic.ttf') format('truetype'),
         url('../fonts/TitilliumWeb/TitilliumWebItalic.svg#TitilliumWebItalic') format('svg');
}

